<div id="conditions-dashboard">
  <p>
    <span>Food:</span>
    <span class="text" id="food"></span>
  </p>
  <p>
    <span>Parts:</span>
    <span id="parts"></span>
  </p>
  <p>
    <span>Food:</span>
    <span id="food"></span>
  </p>
  <p>
    <span>Food:</span>
    <span id="food"></span>
  </p>
  <p>
    <span>Food:</span>
    <span id="food"></span>
  </p>
  <p>
    <span>Food:</span>
    <span id="food"></span>
  </p>
  <p id="parts"></p>
  <p id="physical_health"></p>
  <p id="mental_health"></p>
  <p id="food_consume_rate"></p>
  <p id="physical_deterioration_rate"></p>
  <p id="mental_deterioration_rate"></p>
  <p id="mutiny_rate"></p>
</div>
