<div id="conditions-dashboard">
  <div id="animation">
      <div class="spaceship">
          <div class="antenna"></div>
          <div class="body"></div>
          <div class="window"></div>
          <div class="fins"></div>
          <div class="rocket"></div>
          <div class="fireWrapper">
              <div class="fire">
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
              </div>
          </div>
      </div>
  </div>
  <p>
    <span>Food:</span>
    <span class="text" id="food"></span>
  </p>
  <p>
    <span>Parts:</span>
    <span class="text" id="parts"></span>
  </p>
  <p>
    <span>Physical Health:</span>
    <span class="text" id="physical_health"></span>
  </p>
  <p>
    <span>Mental Health:</span>
    <span class="text" id="mental_health"></span>
  </p>
  <p>
    <span>Food Consume Rate:</span>
    <span class="text" id="food_consume_rate"></span>
  </p>
  <p>
    <span>Physical Deterioration Rate:</span>
    <span class="text" id="physical_deterioration_rate"></span>
  </p>
  <p>
    <span>Mental Deterioration Rate:</span>
    <span class="text" id="mental_deterioration_rate"></span>
  </p>
  <p>
    <span>Mutiny Rate:</span>
    <span class="text" id="mutiny_rate"></span>
  </p>
</div>
