%header.intro
  %h1 Space Trail
  %p Loosely based on the original Oregon trail
.game-container
  - @events.each do | i |
    %section.section.q-1
      .question
        #{i.body}
      .answer-box
        .choice.choice-a.is-selected
          #{i.choice_1}
        .choice.choice-b
          #{i.choice_2}
          
