@import url('http://fonts.googleapis.com/css?family=Gentium+Basic|Open+Sans:300,400,700italic,800');
@import "compass";

$opensans: 'Open Sans';
$gentium: 'Gentium Basic';
$white: #fff;

body {
  color: #fff;
  font-family: $opensans;
  text-align: center;
}

h1 {
  text-align: center;
  text-transform: uppercase;
}

p {
  font-family: $gentium;
  font-style: italic;
}

.question {
  font-style: italic;
  font-size: 12px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.answer-box {
  width: 100%;
  $padding: 40px;
  @include transition(all 0.3s);

  .choice {
    width: 43%;
    height: 200px;
    float: left;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: $padding;
    padding-bottom: $padding;
    border: 2px solid #fff;
    text-transform: uppercase;
    background-color: rgba($white, 0.3);
    display: table;
    font-weight: 400;
    .choice-inner {
      display: table-cell;
      vertical-align: middle;
    }
    & + .choice {
      margin-left: 2%;
    }
  }
}

.choice.is-selected {
  background-color: rgba($white, 0.6);
  border: 3px solid #C21629;
  color: #C21629;
}

.planet-table {
  font-weight: 300;
}
