@import url('http://fonts.googleapis.com/css?family=Gentium+Basic|Open+Sans:300,400,700italic,800');
@import "compass";

$opensans: 'Open Sans';
$gentium: 'Gentium Basic';
$white: #fff;

body {
  color: #fff;
  font-family: $opensans;
  text-align: center;
}

h1 {
  text-align: center;
  text-transform: uppercase;
}

p {
  font-family: $gentium;
  font-style: italic;
  font-size: 25px;
}

.question {
  font-style: italic;
  font-size: 12px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.answer-box {
  width: 100%;
  $padding: 40px;
  @include transition(all 0.3s);

  .choice {
    border-radius: 15px;
    width: 43%;
    height: 200px;
    float: left;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: $padding;
    padding-bottom: $padding;
    border: 2px solid #fff;
    text-transform: uppercase;
    background-color: rgba($white, 0.3);
    display: table;
    font-weight: 400;
    .choice-inner {
      display: table-cell;
      vertical-align: middle;
    }
    & + .choice {
      margin-left: 2%;
    }
  }
}

.choice.is-selected {
  background-color: rgba($white, 0.6);
  border: 3px solid #C21629;
  color: #C21629;
}

table {
  border-spacing: 0;
  border-color: transparent
}
.planet-table {
  table { width: 100%; }
  font-weight: 300;
  td { padding: 10px; }
  thead {
    font-weight: bold;
  };

  tbody {
    tr {
      @include transition( all 0.3s );
      &:hover {
        background-color: rgba(#fff, 0.3);
      }
    }
  }
}
.planet-name {
  text-align: left;
}

.planet-table {
  h2 { color: rgba(#fff, 0.8); }
}

#conditions-dashboard {
  position: absolute;
  bottom: 10px;
  width: 100%;
  background-color: rgba(#2A458D, 0.3);
  border: 2px solid #2A458D;

  p {
    display: inline-block;
    width: 90px;
    font-size: 12px;
    font-style: normal;
    font-family: 'open sans';
    text-transform: uppercase;
    letter-spacing: 0.05em;

    & + p {
      margin-left: 15px;
    }

    span:first-of-type {
      font-weight: bold;
    }
  }
}

.tweet-text {
  text-transform: lowercase;
  color: #C8C8C8;
}
